@charset "utf-8";

.online-illustration {
    text-align: center;
}

.online-illustration img {
    max-width: 100%;
}

.bold {
    font-weight: 600;
}

.indent {
    margin-left: 2rem;
}

.super-indent {
    margin-left: 6rem;
}

.ultra-indent {
    margin-left: 10rem;
}

.grand-header {
    margin-top: .8rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    color: #7e0a0a;
}

.sub-header {
    font-size: 1.4rem;
    font-weight: 550;
    margin-bottom: 2.4rem;
    text-align: center;
    color: darkgoldenrod;
}

.visa-body .japanese-version {
    margin-top: 1rem;
    color: rgb(37, 98, 211);
    font-size: 1rem;
    line-height: 1.6rem;
}

.twoitems {
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.twoitems li {
    width: 48%;
    display: block;
    background-color: rgba(255, 255, 255, .8);
}

.item-head p {
    line-height: 50px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    font-size: larger;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    color: rgb(37, 98, 211);
}

.item-body {
    padding: 10px;
    height: auto;
    display: block;
}

.twoitems li .count-list-item {
    display: block;
}

.fa-solid {
    color: cornflowerblue;
    font-size: 2rem;
    margin-right: 5px;
}

.visa-body {
    position: relative;
}

.register-btn {
    position: absolute;
    text-align: center;
    top: -15px;
    left: 40%;
    z-index: 15;
}

.cite-indent {
    display: inline-block;
    margin-left: 7rem;
    text-indent: -4.8rem;
}

.count-list-item-2 {
    display: flex;
    counter-increment: new-counter;
}

.count-list-item-2::before {
    content: counter(new-counter) ".";
    margin-right: 18px;
}

.dot-list-item {
    text-indent: -2rem;
    margin-left: 2rem;
}

.cube-list-item {
    margin-left: 4rem;
    flex-direction: column;
}

.cube-list-item::before {
    content: "■";
    font-size: 1rem;
    margin-right: 1.5rem;
    color: rgb(212, 134, 134);
}

.main-flex {
    display: flex;
}

.main-text {
    min-width: 70%;
}

.main-image {
    text-align: center;
}

.main-image img {
    max-width: 80%;
}

.breakword {
    word-break: break-word;
}

@media screen and (max-width: 920px) {
    h3 {
        top: 0;
        z-index: 25;
    }

    .main-flex {
        display: block;
    }

    .twoitems {
        flex-direction: column;
        gap: 30px;
    }

    .twoitems li {
        width: 100%;
    }
}

@media screen and (max-width: 565px) {
    .nav-thispage {
        margin-right: 0;
    }
}