@charset "utf-8";

.notabene {
    background-color: rgb(193, 243, 193);
    color: green;
}

.notabene-lite {
    font-weight: 600;
    color: green;
}

.sitemap-header {
    line-height: 1.5;
}

.indent {
    margin-left: 2rem;
}

.visa-sec {
    margin-bottom: 1rem;
}