@charset "utf-8";

html,
body {
    height: 100%;
}

body {
    font: 15px Arial, Helvetica, sans-serif, '微軟正黑體';
    position: relative;
    background: url(../images/newlogo.png) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, .9);
    background-blend-mode: lighten;
}

img {
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #fff;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    position: fixed;
    top: 0;
    background-color: khaki;
    width: 100%;
    min-height: 4rem;
    display: flex;
    z-index: 20;
}

.nav-list {
    width: 100%;
    position: relative;
    margin-right: 39px;
}

.nav-list>ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-list li {
    min-width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(146, 107, 7)
}

.nav-list li>a {
    display: block;
    width: 8rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(146, 107, 7)
}

.nav-list li:hover,
.nav-list li a:hover {
    background-color: darkgoldenrod;
    color: white;
    text-shadow: 0 0 10px #fff;
}

.nav-info {
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.nav-info ul {
    display: none;
    position: absolute;
    background-color: rgba(220, 200, 120, .8);
    top: 100%;
    z-index: 5;
    height: auto;
    text-align: center;
    text-shadow: 0 0 10px #fff;
}

.nav-info .inner-height {
    height: 2.2rem;
}

.nav-info ul li a {
    display: block;
    color: black;
    line-height: 2.2rem;
}

.nav-info ul li a:hover {
    background-color: rgb(248, 244, 202);
    color: rgb(139, 73, 10);
    border-left: 3px double rgb(139, 73, 10);
    border-right: 3px double rgb(139, 73, 10);
}

.nav-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 4rem;
    position: fixed;
    right: 0;
}

.nav-lang div {
    background-color: lightgoldenrodyellow;
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3) inset;
    cursor: pointer;
}

.nav-lang div ul {
    margin-top: 1px;
    transition: transform 1s ease;
    transform: translateY(0);
}

.nav-lang div:hover ul {
    transform: translateY(-1.2rem);
}

.nav-lang a {
    color: #000;
}

.container {
    flex: 1;
}

.footer {
    text-align: center;
    background-color: khaki;
    width: 100%;
    height: auto;
    color: rgb(122, 76, 8);
}

.footer a {
    color: rgb(122, 76, 8);
}

.footer a:hover {
    color: brown;
}

.footer-info {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: 1.5;
}

.footer-info li {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-sns {
    height: 100px;
    width: 50px;
    background-color: lightyellow;
    opacity: .7;
    position: fixed;
    right: 10px;
    bottom: 30px;
    padding-top: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    z-index: 15;
}

.footer-sns a:hover {
    color: brown;
}

.en-nowrap {
    display: inline-block;
    white-space: nowrap;
}

@media screen and (max-width: 920px) {
    .nav-list>ul {
        flex-wrap: wrap;
    }

    .nav-list li {
        height: 2rem;
    }

    .nav-list li:hover,
    .nav-list li a:hover {
        height: 2rem;
    }

    .nav-info ul {
        top: 2rem;
    }

    .nav-info ul li,
    .nav-info ul li:hover {
        height: 2rem;
    }
}